.task-card {
  background-color:aliceblue;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;  width: 250px; /* Set fixed width */
  height: 200px; /* Set fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s, background-color 0.3s;
}


.task-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.task-info {
  margin-bottom: 10px; /* Adjust margin to fit within the height */
  overflow: hidden; /* Ensure content does not overflow */
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-size: 1rem;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.status-btn{
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  width: 6000px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-btn.complete {
  background-color: green;
  border-color: #dc3545;
}

.status-btn.incomplete {
  background-color: red;
  border-color: #28a745;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  transition: color 0.3s;
}

.heart-btn {
  color: #333; /* Set to the same default color as the edit and delete buttons */
}

.edit-btn,
.delete-btn {
  color: #333; /* Default color for the edit and delete buttons */
}

.btn:hover {
  color: #007bff; /* Change to any color you prefer */
}

.heart-btn:hover {
  color: #ff4d4d;
}

.edit-btn:hover {
  color: #ffa500;
}

.delete-btn:hover {
  color: #ff0000;
}

.Toastify__close-button {
  width: 20px;
  height: 20px;
  font-size: 12px;
}

.Toastify__close-button:hover {
  background-color: transparent;
  cursor: default;
}

